<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bluedot.electrochemistry.dao.base.BaseMapper">

    <!--    用户模块相关-->
    <!--    <select id="listUser" resultType="com.bluedot.electrochemistry.pojo.domain.User">-->
    <!--        select * from user;-->
    <!--    </select>-->
    <select id="queryUser" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user
    </select>
    <select id="listUser" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user limit #{currentPage},#{pageSize}
    </select>

    <select id="queryUserByPageAndKey" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where nickname like concat('%', #{key}, '%') limit #{currentPage},#{pageSize}
    </select>

    <select id="countUserByKey" resultType="java.lang.Long">
        select count(*) from user where nickname like concat('%', #{key}, '%')
    </select>

    <select id="queryUserByUsername" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where username = #{username};
    </select>

    <select id="queryUsersByUsername" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where username like #{username};
    </select>

    <select id="queryUserByEmail" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where email = #{email};
    </select>
    <select id="countUserByEmail" resultType="java.lang.Long">
        select count(*) from user where email=#{email};
    </select>
    <select id="countUserByUsername" resultType="java.lang.Long">
        select count(*) from user where username=#{username};
    </select>
    <select id="queryFreezeByUsername" resultType="com.bluedot.electrochemistry.pojo.domain.Freeze">
        select * from freeze where username = #{username}
    </select>
    <!--超级管理员相关-->
    <!--根据用户名查权限-->
    <select id="queryRightByUser" resultType="com.bluedot.electrochemistry.pojo.domain.RoleRight">
        select b.right_id from user_role as a left join role_right as b on a.role_id = b.role_id where a.username = #{username}
    </select>
    <!--查询管理员相关-->
    <select id="getAdmins" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select a.* from user as a left join user_role as b on a.username = b.username
        where b.role_id = '200' limit #{pageStart},#{pageSize}
    </select>
    <select id="getAdminCount" resultType="java.lang.Long">
        select count(*) from user as a left join user_role as b on a.username = b.username
        where b.role_id = '200'
    </select>

    <select id="getUserRoleId" resultType="com.bluedot.electrochemistry.pojo.domain.UserRole">
        select * from user_role where username = #{username} and role_id = #{roleId}
    </select>

    <select id="getQueryEditAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where username = #{username}
    </select>

    <select id="getAdminsByQuery" resultType="com.bluedot.electrochemistry.pojo.domain.User">

        select a.* from user as a left join user_role as b on a.username = b.username
        where (a.username like #{query1} or nickname like #{query2}) and b.role_id = '200' limit #{pageStart},#{pageSize}
    </select>

    <select id="getAdminCountByQuery" resultType="java.lang.Long">
        select count(*) from user as a left join user_role as b on a.username = b.username
        where (a.username like #{query1} or nickname like #{query2}) and b.role_id = '200'
    </select>

    <select id="getAdminCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from user where #{queryCondition}=#{queryValue}
    </select>
    <!--查询备份文件相关-->
    <select id="getBackupFiles" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file limit #{pageStart},#{pageSize}
    </select>
    <select id="getBackupFileCount" resultType="java.lang.Long">
        select count(*) from file
    </select>
    <select id="getFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getFileCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from file where #{queryCondition}=#{queryValue}
    </select>
    <!--查询角色相关-->
    <select id="getRoles" resultType="com.bluedot.electrochemistry.pojo.domain.Role">
        select * from role limit #{pageStart},#{pageSize}
    </select>
    <select id="getRoleCount" resultType="java.lang.Long">
        select count(*) from role
    </select>
    <select id="getRoleByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.Role">
        select * from role where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getRoleCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from role where #{queryCondition}=#{queryValue}
    </select>

    <!--算法相关-->
    <select id="getNextAlgorithmId" resultType="java.lang.Long">
        select max(alg_id)+1 from algorithm
    </select>
    <select id="getAlgorithmById" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
        select * from algorithm where alg_id = #{id}
    </select>
     <select id="getAlgorithms" resultType="com.bluedot.electrochemistry.pojo.vo.AlgorithmView">
         select * from algorithm_view limit #{pageStart},#{pageSize}
     </select>
     <select id="getAlgorithmsCount" resultType="java.lang.Long">
         select count(*) from algorithm_view
     </select>
    <select id="getAlgorithmsByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.vo.AlgorithmView">
        select * from algorithm_view
        where algorithm_name like #{queryCondition1} or nickname like #{queryCondition2}
        limit #{pageStart},#{pageSize};
    </select>
    <select id="getAlgorithmsCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from algorithm_view
        where algorithm_name like #{queryCondition} or nickname like #{queryCondition}
    </select>

    <!---->
    <select id="getFileById" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where id = #{id};
    </select>
    <select id="listFiles" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where type = #{type} and status = #{status} and owner = #{username} limit
        #{pageStart},#{pageSize};
    </select>

    <select id="countFiles" resultType="Long">
        select count(*) from file where type = #{type} and status = #{status} and owner = #{username};
    </select>

    <select id="listOperationsBySuperAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        <![CDATA[ select * from operation where 1 < type <= #{type} limit #{pageStart},#{pageSize}; ]]>
    </select>


    <!--算法申请相关-->
    <select id="getAlgorithmSends" resultType="com.bluedot.electrochemistry.pojo.vo.AlgorithmSendView">
        select * from algorithm_send_view limit #{pageStart},#{pageSize}
    </select>
    <select id="getAlgorithmSendsCount" resultType="java.lang.Long">
        select count(*) from algorithm_send_view
    </select>
    <select id="getAlgorithmSendsByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.vo.AlgorithmSendView">
        select * from algorithm_send_view
        where algorithm_name like #{queryCondition1} or sender_nickname like #{queryCondition2}
        limit #{pageStart},#{pageSize};
    </select>
    <select id="getAlgorithmSendsCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from algorithm_send_view
        where algorithm_name like #{queryCondition1} or sender_nickname like #{queryCondition2}
    </select>

    <!---->
    <select id="getBackupFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getBackupFileCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="listFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getFileCountByQuery" resultType="java.lang.Long">

    </select>
    <select id="getFilesByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getFilesCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="listOperationsByUser" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where type=#{type} and user = #{username} limit #{pageStart},#{pageSize}
    </select>
    <select id="countOperations" resultType="java.lang.Long">
        select count(*) from operation where type=#{type};
    </select>
    <select id="searchFileByAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where (name like #{title0} or  owner like #{title1} ) and (type = #{type}) limit #{pageStart},#{pageSize};
    </select>

    <select id="countFilesByAdmin" resultType="Long">
        select count(*) from file where ( (name like #{title0} or  owner like #{title1} ) and (type = #{type});
    </select>
    <select id="searchFileByUser" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where ( (name like #{title} ) and status = #{status} and owner = #{username} and type = #{type} ) limit #{pageStart},#{pageSize};
    </select>
    <select id="countFilesByUser" resultType="Long">
        select count(*) from file where ( (name like #{title} ) and status = #{status} and owner = #{username} and type = #{type});
    </select>

    <select id="searchOperationsByUser" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where ( (message like #{title} ) and user = #{username} and type = #{type} ) limit #{pageStart},#{pageSize};
    </select>

    <select id="countOperationsBySearchUser" resultType="Long">
        select count(*) from operation where ( (message like #{title} ) and user = #{username} and type = #{type});
    </select>
    <select id="searchOperationsByAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where (message like #{title0} or  user like #{title1} ) and (type !> #{type}) limit #{pageStart},#{pageSize};
    </select>
    <select id="countOperationsByAdmin" resultType="Long">
        select count(*) from operation where ( (message like #{title0} or  user like #{title1} ) and (type !> #{type} );
    </select>

    <!--有问题
    <select id="getAlgorithmsByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
        select * from t_algorithm where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getAlgorithmsCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from t_algorithm where #{queryCondition}=#{queryValue}
    </select>-->

    <select id="contrastFile" resultType="Long">

    </select>


    <select id="countOperationsByUser" resultType="Long">
        select count(*) from operation where user = #{username} and type = #{type};
    </select>
    <select id="listOperationsByAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
    <![CDATA[ select * from operation where type <= #{type} limit #{pageStart},#{pageSize}; ]]>
    </select>
    <select id="countAdminOperations" resultType="java.lang.Long">
        <![CDATA[    select count(*) from operation where type <= #{type}; ]]>
    </select>


    <select id="queryUnfreezeByCurrent" resultType="com.bluedot.electrochemistry.pojo.domain.Unfreeze">
        select * from unfreeze where handle_status = 0 and username like concat('%', #{key}, '%') limit #{currentPage},#{pageSize}
    </select>

    <select id="countUnfreezeByKey" resultType="java.lang.Long">
        select count(*) from unfreeze where handle_status = 0 and username like concat('%', #{key}, '%')
    </select>
</mapper>
