<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.bluedot.electrochemistry.dao.base.BaseMapper">

    <!--    用户模块相关-->
    <!--    <select id="listUser" resultType="com.bluedot.electrochemistry.pojo.domain.User">-->
    <!--        select * from user;-->
    <!--    </select>-->
    <select id="listUser" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user limit #{currentPage},#{pageSize}
    </select>
    <select id="queryUserByUsername" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where username = #{username};
    </select>
    <select id="queryUserByEmail" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where email = #{email};
    </select>
    <!--超级管理员相关-->
    <!--根据用户名查权限-->
    <select id="queryRightByUser" resultType="com.bluedot.electrochemistry.pojo.domain.RoleRight">
        select b.right_id from user_role as a left join role_right as b on a.role_id = b.role_id where a.username = #{username}
    </select>
    <!--查询管理员相关-->
    <select id="getAdmins" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select a.* from user as a left join user_role as b on a.username = b.username where b.role_id = '200'
    </select>
    <select id="getAdminByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.User">
        select * from user where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getAdminCount" resultType="java.lang.Long">
        select count(*) from user
    </select>
    <select id="getAdminCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from user where #{queryCondition}=#{queryValue}
    </select>
    <!--查询备份文件相关-->
    <select id="getBackupFiles" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file limit #{pageStart},#{pageSize}
    </select>
    <select id="getBackupFileCount" resultType="java.lang.Long">
        select count(*) from file
    </select>
    <select id="getFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getFileCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from file where #{queryCondition}=#{queryValue}
    </select>
    <!--查询角色相关-->
    <select id="getRoles" resultType="com.bluedot.electrochemistry.pojo.domain.Role">
        select * from role limit #{pageStart},#{pageSize}
    </select>
    <select id="getRoleCount" resultType="java.lang.Long">
        select count(*) from role
    </select>
    <select id="getRoleByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.Role">
        select * from role where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getRoleCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from role where #{queryCondition}=#{queryValue}
    </select>

    <!--算法相关-->
    <select id="getAlgorithmById" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
        select * from t_algorithm where alg_id = #{id}
    </select>
    <select id="listAlgorithms" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
        select * from t_algorithm
    </select>
    <!-- <select id="getAlgorithms" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
         select * from t_algorithm limit #{pageStart},#{pageSize}
     </select>
     <select id="getAlgorithmsCount" resultType="java.lang.Long">
         select count(*) from t_algorithm
     </select>-->
    <select id="getFileById" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where id = #{id};
    </select>

    <select id="listFiles" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where type = #{type} and status = #{status} and owner = #{username} limit
        #{pageStart},#{pageSize};
    </select>

    <select id="countFiles" resultType="Long">
        select count(*) from file where type = #{type} and status = #{status} and owner = #{username};
    </select>

    <select id="listOperations" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where type = #{type};
    </select>


    <!--算法申请相关-->
    <select id="listAlgorithmSends" resultType="com.bluedot.electrochemistry.pojo.domain.AlgorithmSend">
        select * from t_algorithm_send
    </select>
    <select id="getBackupFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getBackupFileCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="listFileByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getFileCountByQuery" resultType="java.lang.Long">

    </select>
    <select id="getFilesByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.File">

    </select>
    <select id="getFilesCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="getAlgorithms" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">

    </select>
    <select id="getAlgorithmsCount" resultType="java.lang.Long">

    </select>
    <select id="getAlgorithmsByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">

    </select>
    <select id="getAlgorithmsCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="getAlgorithmSends" resultType="com.bluedot.electrochemistry.pojo.domain.AlgorithmSend">

    </select>
    <select id="getAlgorithmSendsCount" resultType="java.lang.Long">

    </select>
    <select id="getAlgorithmSendsByQueryCondition"
            resultType="com.bluedot.electrochemistry.pojo.domain.AlgorithmSend">

    </select>
    <select id="getAlgorithmSendsCountByQueryCondition" resultType="java.lang.Long">

    </select>
    <select id="listOperationsByUser" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where type=#{type} and user = #{username} limit #{pageStart},#{pageSize}
    </select>
    <select id="countOperations" resultType="java.lang.Long">
        select count(*) from operation where type=#{type};
    </select>
    <select id="searchFileByAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where (name like #{title0} or  owner like #{title1} ) and (type = #{type}) limit #{pageStart},#{pageSize};
    </select>

    <select id="countFilesByAdmin" resultType="Long">
        select count(*) from file where ( (name like #{title0} or  owner like #{title1} ) and (type = #{type});
    </select>
    <select id="searchFileByUser" resultType="com.bluedot.electrochemistry.pojo.domain.File">
        select * from file where ( (name like #{title} ) and status = #{status} and owner = #{username} and type = #{type} ) limit #{pageStart},#{pageSize};
    </select>
    <select id="countFilesByUser" resultType="Long">
        select count(*) from file where ( (name like #{title} ) and status = #{status} and owner = #{username} and type = #{type});
    </select>

    <select id="searchOperationsByUser" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where ( (message like #{title} ) and user = #{username} and type = #{type} ) limit #{pageStart},#{pageSize};
    </select>

    <select id="countOperationsBySearchUser" resultType="Long">
        select count(*) from operation where ( (message like #{title} ) and user = #{username} and type = #{type});
    </select>
    <select id="searchOperationsByAdmin" resultType="com.bluedot.electrochemistry.pojo.domain.Operation">
        select * from operation where (message like #{title0} or  user like #{title1} ) and (type !> #{type}) limit #{pageStart},#{pageSize};
    </select>
    <select id="countOperationsByAdmin" resultType="Long">
        select count(*) from operation where ( (message like #{title0} or  user like #{title1} ) and (type !> #{type} );
    </select>

    <!--有问题
    <select id="getAlgorithmsByQueryCondition" resultType="com.bluedot.electrochemistry.pojo.domain.Algorithm">
        select * from t_algorithm where #{queryCondition}=#{queryValue} limit #{pageStart},#{pageSize}
    </select>
    <select id="getAlgorithmsCountByQueryCondition" resultType="java.lang.Long">
        select count(*) from t_algorithm where #{queryCondition}=#{queryValue}
    </select>-->

    <select id="contrastFile">

    </select>


    <select id="countOperationsByUser" resultType="Long">
        select count(*) from operation where user = #{username} and type = #{type};
    </select>
</mapper>
